* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color: #000000; 
    --text-color: #ffff;
    --main-color: #FF8BA0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* Header Section Code */

.header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background: var(--bg-color);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}

#warna {
    color: var(--main-color);
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 700;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

.navbar {
    font-size: 1.9rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

#list {
    display: flex;
    gap: 5rem;
}

#list a {
    color: var(--text-color);
}

#list a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

/* Home Section Code */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

#warna {
    color: var(--main-color);
}

.home-img img {
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 35px var(--main-color),
                0 0 45px var(--main-color);
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content {
    margin-left: 5rem;
}

.home-content h3 {
    font-size: 3.7rem;
    font-weight: 700;
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-media a:hover {
    transform: scale(1.2) translateY(-8px);
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 10px var(--main-color);
}

.btn {
    display:inline-flex;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn:hover {
    box-shadow: 0 0 1.2rem var(--main-color);
}

/* About Section Code */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#warna {
    color: var(--main-color);
}

.about-img img {
    width: 25vw;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease;
}

.about-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 35px var(--main-color),
                0 0 45px var(--main-color);
}

.heading {
    font-size: 6rem;
    text-align: left;
    transition: 0.3s ease;
}

.heading:hover {
    transform: scale(1.05);
}

.about-content {
    padding: 0 4rem;
}

.about-content h2 {
    text-align: left;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 ;
}

/* Software Section Code */

.software {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#warna {
    color: var(--main-color);
}

.heading {
    font-size: 6rem;
    text-align: center;
    transition: 0.3s ease;
    margin-bottom: 4rem;
}

.heading:hover {
    transform: scale(1.05);
}

.software-content img {
    width: 10rem;
    border-radius: 50%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem;
}

.software-item {
    background: #242323;
    border-radius: 2rem;
    padding: 20px 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: var(--text-color);
    transition: 0.5s ease-in-out;
}

.software-item:hover {
    border: 3px solid var(--main-color);
    transform: translateY(-10px);
    box-shadow: 0 0 30px var(--main-color);
}

.software-item h2 {
    font-size: 2.6rem;
}

.software-item p {
    font-size: 1.5rem;
}

/* Project Section Code */

.project {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
}

#warna {
    color: var(--main-color);
}

.heading {
    font-size: 6rem;
    text-align: center;
    transition: 0.3s ease;
}

.heading:hover {
    transform: scale(1.05);
}

.project-content img {
    width: 23rem;
    border-radius: 10%;
}

.wrapper2 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem;
}

.project-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: var(--text-color);
    border-radius: 40px;
    background: #242323;
    border-radius: 2rem;
    padding: 15px 15px;
}

.project-item .project-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0), var(--main-color));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.project-item:hover .project-layer {
    transform: translateY(0);
}

.project-layer h2 {
    font-size: 2rem;
}

.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(--text-color);
    border-radius: 50%;
}

.project-layer a i {
    font-size: 1rem;
    color: var(--bg-color);
}

/* Contact Section Code */

.contact {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#warna {
    color: var(--main-color);
}

.heading {
    font-size: 6rem;
    text-align: center;
    transition: 0.3s ease;
    margin-bottom: 2rem;
    margin-top: -20px;
    margin-bottom: 1rem;
}

.heading:hover {
    transform: scale(1.05);
}

.contact form {
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.1rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: #242323;
    border: 1px solid var(--main-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
}

.contact form .input-box input {
    width: 48%;
}

.contact form textarea {
    resize: none;
    text-align: center;
}

.contact form .btn {
    margin-top: 1rem;
    cursor: pointer;
}

/* Footer Design */

.footer {
    background: #242323;
    padding: 2.5rem;
    text-align: center;
}

.footer p {
    font-size: 15px;
}

.social-links {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social-links a {
    color: var(--text-color);
    font-size: 2.5rem;
    transition: all 0.3s ease;
}

.social-links a:hover {
    color: var(--main-color);
    transform: translateY(-3px);
}





